body {
	color: #FFFFFF;
        background: #000B3F;
        background-image: url('https://figseu-technology.github.io/FeXBrowser/RollingSky/RSBG/RSBG_25.png');
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
        margin: 0;
}
footer {
	width: 100%;
        z-index: 5;
	background-color: #234856;
	color: #FFFFFF;
        margin-top:auto;
        position: fixed;
        bottom: 0px;
        left: 0px;
}
a {
	text-decoration:none;
	color: #A4A4A4;
}
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	outline: none;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
}
.ef input[type='text']:focus {
	border: 1px solid #FFFFFF;
	outline: none;
        box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}
.bar {
        position: relative;
	width: 80%;
	margin: 40px 3%;
}
.bar input[type='text'] {
	font: 15px/24px sans-serif, serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #7C7C7C;
	border: 1px solid #FFFFFF;
}
.s_bar {
	position: relative;
	z-index: 3;
	width: 99%;
	border-radius: 1px;
	padding: 2px;
	background-color: #FFFFFF;
	outline: none;
	box-shadow: 0px 2px 3px rgba( 0, 0, 0, 0.25 );
}
.s_text {
	font-size: 90%;
}
img {
	position: relative;
	z-index: 2;
	padding: 7px;
}
hr {
	position: relative;
	z-index: 3;
	background: #ABABAB;
	border: #ABABAB;
	border-radius: 2px;
}
p {
	font-size: 15px;
}
.Home_button {
	position: absolute;
	z-index: 1;
	height: 10%;
	width: 10%;
	color: #ABABAB;
	font-size: 45px;
	border: solid #F4F4F4;
	background: #F4F4F4;
	transition: 0.4s;
}
.Home_button:focus {
	position: absolute;
	z-index: 4;
	font-size: 0px;
	color: #616161;
	height: 99%;
	width: 50%;
	border: solid #F4F4F4;
	background: #616161;
	border-left: solid;
	border-top: solid;
	border-right: double 5px #F4F4F4;
	outline: none;
}
.Home_activity {
	z-index: 5;
	color: #F4F4F4;
	font-size: 20px;
}
.Home_p {
	z-index: 5;
	fontsize: 10px;
}
.Home_a {
	z-index: 2;
	color: #F4F4F4;
	text-decoration:none;
	font-size: 50%;
}
tr {
	position: relative;
	z-index: 1;
}
h3.nuknown {
	color: #3E3E3E;
}
video {
	width: 76.5%;
	border: solid #A4A4A4;
	position: relative;
	z-index: 2;
}
